@using QFileServer.Definitions.DTOs
@model IEnumerable<QFileServerDTO>
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
}

    <div class="text-center">
        <h1 class="display-4">QFileServer.Mvc</h1>

        <div class="row mt-4">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-start">
                <p>Release notes</p>
                <ul>
                    <li>12/20/2022 - Initial release</li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    @section Scripts {


    <script>

    </script>
}